*.ipynb
.idea/*
__pycache__/*
*params
deprecated
old_code/*
test2.py
plot
data/20ng
data/dummy
data/MR
data/ohsumed
data/R8
data/R52
*.param
*.pickle
deprecated/log
model_trained
*.zip
command.txt
*.pt
log_temp
log
